* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
#products {
    margin-bottom: 25px;
}
.text-center {
    text-align: center;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper .item {
    border: 2px solid rgb(233,171,88);
    border-radius: 5px;
    background-color: rgba(233,171,88,.5);
    padding: 1em;
    color: #000;
    text-decoration: none;
}

.wrapper .item.beaus {
    background-color: rgba(233,171,88,1);
}
.wrapper .item:hover {
    background-color: rgba(233,171,88,.8);
    text-decoration: underline;

}
.wrapper .item h2 {
    margin-top: 0;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}

@media (min-width: 992px) {
.wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {

}
