<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Webpage listing the beers at Beau's Oktoberfest 2018 built with Vue.js" />
    <title>Beau's Oktoberfest Beers 2019</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./css/beer.css?version=1.1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <main id="beers">
        <h1>Beau's Oktoberfest 2019 Beer list</h1>
        <p class="notice">The data is still being updated, not all links work</p>
        <p class="disclaimer"><strong>Disclaimer: </strong>This application is not affiliated with <a href="https://beaus.ca/">Beau's Brewing Co.</a> and was built by a fan of the festival who wanted to keep track of the beers he tried. The data in app was manually copied from  <a href="http://www.beausoktoberfest.ca/craft-haus">The Craft Haus  — Beau's Oktoberfest</a> and might have some errors in the data... sorry. Feel free to collaborate on the <a href="https://github.com/shawnthompson/beaus-oktoberfest-beers">Github.com project</a>.</p>
        <div class="wrapper">
           
            <section v-for="item in sortedArray" class="item" v-bind:class="{ beaus: item.Brewery === 'Beau\'s Brewing Co.'}" class="text-center">
                <h2 class="beer"><i class="fas fa-beer"></i>{{ item.Beer }}</h2>
                <div class="form-group">
                    <div class="form-element">
                        <input type="checkbox" class="save-cb-state try" :id="'try-' + item.ID" :name="'try-' + item.ID" value="try" />
                        <label for="">Want to <span class="bigText">try</span></label>
                    </div>
                    <div class="form-element">
                        <input type="checkbox" class="save-cb-state tried" :id="'tried-' + item.ID" :name="'tried' + item.ID" value="tried" />
                        <label for="">Have <span class="bigText">tried</span></label>
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li class="style"><span class="inv">Flavour: </span>{{ item.Flavour }}</li>
                    <li v-if="item.Percentage != ''" class="percentage"><span class="inv">Percentage: </span>{{ item.Percentage }} <i class="fas fa-percent"></i></li>
                    <li class="location"><i class="fas fa-road"></i><span class="inv">Location of brewery: </span>{{ item.Location }}</li>
                    <li class="brewery"><a :href="item.URL"><i class="fab fa-fort-awesome"></i><span class="inv">Brewery: </span>{{ item.Brewery }}</a></li>
                </ul>
                <p v-if="item.Untappd != ''"><a :href="item.Untappd" target="_blank" class="btn btn-untappd"><i class="fab fa-untappd"></i><span class="inv">{{ item.Beer }} </span>View on Untappd</a></p>
            </section>
             
    </div>
</main>
<footer>This site uses cookies to save your selections.</footer>


<script src="./js/storage.js"></script>
<script src="./js/beer.js"></script>
</body>
</html>